body {
    background-color: #2e2e2e;
}

h1 {
    color: white;
    font-family: 'Futura', monospace;
    justify-content: center;
    text-align: center;

}

ul {
    border: none;
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 5em 0 0 0;

}
